/* @group modShare */
.modShare {
	margin-bottom: 20px;
}

.modShare .social-share {
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
	height: 20px;
    float: right;
}

.modShare .social-share .share-facebook {
	float: left;
	width: 100px;
}

.modShare .social-share .share-google {
	float: left;
	width: 80px;
}

.modShare .social-share .share-twitter {
	float: left;
	width: 115px;
}

@media (max-width: 800px) {
	
	.modShare .social-share {
		float: none;
        margin-top: 20px;
	}

}