/* @group modShare */
.modShare {
	margin-bottom: 20px;
}

.modShare .social-share {
	margin-top: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
	overflow: hidden;
	height: 20px;
}

.modShare .social-share .share-facebook {
	float: left;
	width: 120px;
}

.modShare .social-share .share-google {
	float: left;
	width: 80px;
}

.modShare .social-share .share-twitter {
	float: left;
	width: 115px;
}

@media (max-width: 800px) {
	
	.modShare ul li.shortlink {
		display: none;
	}

}