/* @group modShare */
.modShare {
	/*margin-left: -40px;*/
	margin-top: 20px;
}

.modShare ul {
	background-color: #EEE;
	overflow: hidden;
}

.modShare ul li {
	list-style: none;
	margin: 0;
	float: left;
}

.modShare ul li a {
	display: block;
	text-decoration: none;
	color: #666;
	text-shadow: 1px 1px 0px #FFF;
}

.modShare ul li.other a {
	padding: 9px 12px;
}

.modShare ul li.shortlink {
	padding: 5px;
	float: right;
}

.modShare ul li.shortlink input {
	background-image: url(../img/share.gif);
	background-position: right;
	background-repeat: no-repeat;
	width: 280px;
	border: none;
	color: #999;
	font-size: 12px;
	padding: 6px 25px 6px 6px;
	text-shadow: 1px 1px 0px white;
}

.modShare ul li a img {
	display: block;
}

.modShare ul li a:hover {
	text-decoration: underline;
	color: black;
}

.modShare .social-share {
	margin-bottom: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
	overflow: hidden;
	height: 20px;
}

.modShare .social-share .share-facebook {
	float: left;
	width: 120px;
}

.modShare .social-share .share-google {
	float: left;
	width: 80px;
}

.modShare .social-share .share-twitter {
	float: left;
	width: 115px;
}

@media (max-width: 800px) {
	
	.modShare ul li.shortlink {
		display: none;
	}
	
	.modShare .social-share {
		display: none;
	}
	
}