/* @group modContentNavigation */
.modContentNavigation nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
}

.modContentNavigation nav a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
	text-decoration: none;
}

.modContentNavigation .assistive-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.modContentNavigation .nav-above {
	padding: 0 0 1.625em;
}

.modContentNavigation .nav-above {
	display: none;
}

.modContentNavigation .nav-previous {
	float: left;
	width: 50%;
}
.modContentNavigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.modContentNavigation nav .meta-nav {
	font-weight: normal;
}