/* @group skinCategoriesFooter */
.skinCategoriesFooter {
	padding: 0 20px 40px 20px;
}

.skinCategoriesFooter h3.base {
	color: #626266;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
}

.skinCategoriesFooter ul li {
	line-height: 20px;
}

.skinCategoriesFooter ul li a {
	color: #626266;
	text-decoration: none;
}