/* @group modContent */
.modContent {
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}

.modContent .entry-title a {
    color: #222;
}

.modContent .entry-title {
    margin-bottom: 10px;
}

.modContent .entry-meta {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.modContent .entry-content {
    margin-bottom: 20px;
}

@media (max-width: 550px) {

    .modContent .entry-title {
        font-size: 1.8em;
    }

}